@using CarManagement.Core.Models
@using WebCarManager.Models
@model NewVehicleData

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Vehicles", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>VehicleDto</h4>
    <hr />
    <div>
        Color:
        @Html.DropDownListFor(model => model.Color, new SelectList(Enum.GetValues(typeof(CarColor))))
        @Html.ValidationMessageFor(model => model.Color)
    </div>
    <hr />
    <div>
        Engine:
        <p>
            Horse Power: @Html.TextBoxFor(model => model.HorsePower)
            @Html.ValidationMessageFor(model => model.HorsePower, "Potencia tiene que ser positiva", new { @class = "alert-danger" })
        </p>
        <p>
            IsStarted: @Html.CheckBoxFor(model => model.IsStarted)
            @Html.ValidationMessageFor(model => model.IsStarted)
        </p>
    </div>
    <p>
        Wheels: @Html.TextBoxFor(model => model.WheelCount)
        @Html.ValidationMessageFor(model => model.WheelCount)
    </p>
    <p>
        Wheels Pressure: @Html.TextBoxFor(model => model.Pressure)
        @Html.ValidationMessageFor(model => model.Pressure)
    </p>
    <p>
        Doors: @Html.TextBoxFor(model => model.DoorCount)
        @Html.ValidationMessageFor(model => model.DoorCount)
    </p>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

