@using CarManagement.Core.Models
@model WebCarManager.Controllers.VehiclesController.NewVehicleData

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Creación</h2>


@using (Html.BeginForm("Create", "Vehicles", FormMethod.Post))
{
    @Html.AntiForgeryToken()

<div class="container">
    <h4>Vehículo</h4>
    <hr />
    <div>
        <h2>Color:</h2>
        @Html.DropDownListFor(Model => Model.Color, new SelectList(Enum.GetValues(typeof(CarColor))))
    </div>
    <hr />
    <div>
        <h2>
            Engine:
        </h2>
        <p> Horse Power: @Html.TextBoxFor(Model => Model.HorsePower)C.V.</p>
        <p> IsStarted: @Html.CheckBoxFor(Model => Model.IsStarted)</p>

    </div>

    <h2>Ruedas: </h2>
    <p>Cantidad: @Html.TextBoxFor(Model => Model.WheelCount)</p>
    <p> Presión: @Html.TextBoxFor(Model => Model.Pressure) Var</p>

    <h2>Puertas:</h2>
    <p>Cantidad: @Html.TextBoxFor(Model => Model.DoorCount)</p>
    <p> Abierto: @Html.CheckBoxFor(Model => Model.IsOpen)</p>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Crear" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Prueba")
</div>
