@model CarManagement.Core.Models.DTOs.EnrollmentDto

    @{
        ViewBag.Title = "Delete";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    @using (Html.BeginForm("Delete", "Prueba", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <h2>Borrar</h2>

        <h3>¿Estás seguro de borrar esto?</h3>
        <div>
            <h4>Matrícula</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Serial)
                </dt>

                <dd>
                    @Html.TextBoxFor(Model => Model.Serial, new { @readonly = "readonly" })
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Number)
                </dt>

                <dd>
                    @Html.TextBoxFor(Model => Model.Number, new { @readonly = "readonly", @Value = Model.Number.ToString("0000") })
                </dd>

            </dl>

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Volver a la lista de matrículas", "Prueba")
            </div>

        </div>
    }
