@using CarManagement.Core.Models

@model IVehicle

    @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h3>@ViewBag.Title</h3>

    <table>
        @{
            string enrollment = $"{Model.Enrollment.Serial} - {Model.Enrollment.Number.ToString("0000")}";
            int engine = Model.Engine.HorsePower;
            CarColor color = Model.Color;
            int numDoors = Model.Doors.Count();
            int numWheels = Model.Wheels.Count();
        }
        <tr>
            <th>Enrollment</th>
            <td>@enrollment</td>
        </tr>
        <tr>
            <th>Engine  </th>
            <td>@engine</td>
        </tr>
        <tr>
            <th>Color  </th>
            <td>@color</td>
        </tr>
        <tr>
            <th>Doors</th>
            <td>@numDoors</td>
        </tr>
        <tr>
            <th>Wheels</th>
            <td>@numWheels</td>
        </tr>
    </table>

