@using CarManagement.Core.Models.DTOs
@using CarManagement.Core.Models
@model CarManagement.Core.Models.DTOs.VehicleDto

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "Vehicles", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>VehicleDto</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div>
                Enrollment: @Html.TextBoxFor(Model => Model.Enrollment.Serial, new { @readonly = "readonly" })-@Html.TextBoxFor(Model => Model.Enrollment.Number, new { @readonly = "readonly", @Value = Model.Enrollment.Number.ToString("0000")})
            </div>
            Color:
            @Html.DropDownListFor(Model => Model.Color, new SelectList(Enum.GetValues(typeof(CarColor))))
            <hr />
            <p>Engine:</p>
            <div>
                Horse Power: @Html.TextBoxFor(Model => Model.Engine.HorsePower)

            </div>
            <div>
                IsStarted: @Html.CheckBoxFor(Model => Model.Engine.IsStarted)

            </div>
            <hr />
            <div>
                <table border="1">
                    <tr>
                        <td>
                            Wheel
                        </td>
                        <td>
                            Pressure
                        </td>
                    </tr>
                    @{int i = 1;}
                    @foreach (WheelDto wheel in this.Model.Wheels)
                    {
                        <tr>
                            <td>
                                @i
                            </td>
                            <td>
                                @Html.TextBoxFor(Model => Model.Wheels[i-1].Pressure)
                            </td>
                        </tr>
                        i++;
                    }
                </table>
            </div>
            <hr />
            <div>
                <table border="1">
                    <tr>
                        <td>
                            Door
                        </td>
                        <td>
                            IsOpen
                        </td>
                    </tr>
                    @{int j = 1;}
                    @foreach (DoorDto door in this.Model.Doors)
                    {
                        <tr>
                            <td>
                                @j
                            </td>
                            <td>
                                @Html.CheckBoxFor(Model => Model.Doors[j-1].IsOpen)
                            </td>
                        </tr>
                        j++;
                    }
                </table>
            </div>
            <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Details", "Details", new {
                   serial = this.Model.Enrollment.Serial,
                   number = this.Model.Enrollment.Number }) |
    @Html.ActionLink("Back to List", "Index")
</div>


