@using CarManagement.Core.Models;

@model IEnumerable<IEnrollment>


@{
    ViewBag.Title = "Vehicle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Enrollment</th>
        <th>Action</th>

    </tr>

    @foreach (IEnrollment enrollment in this.Model)
    {
        <tr>
            <td>
                <ul>
                    <li>
                        @enrollment.Serial- @enrollment.Number
                    </li>
                </ul>
            </td>
            <td>
                <ul>

                    <li>
                        @Html.ActionLink("Edit", "Edit", new {
                            serial = enrollment.Serial,
                            number = enrollment.Number})
                    </li>
                    <li>
                        @Html.ActionLink("Delete", "Delete", new {
                            serial = enrollment.Serial,
                            number = enrollment.Number })
                    </li>
                </ul>
            </td>
        </tr>
    }

</table>
