@using CarManagement.Core.Models.DTOs
@model IEnumerable<CarManagement.Core.Models.DTOs.VehicleDto>

@{
    ViewBag.Title = "Index";
Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">

    @foreach (VehicleDto vehicle in this.Model)
    {
        <tr>
            <th>Enrollment</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>@vehicle.Enrollment.Serial - @vehicle.Enrollment.Number.ToString("0000")</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {
                   serial = vehicle.Enrollment.Serial,
                   number = vehicle.Enrollment.Number }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
        <tr>
            <th>Engine HorsePower</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>@vehicle.Engine.HorsePower</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {
                    = vehicle.Engine.HorsePower }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
        <tr>
            <th>Color</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>@vehicle.Color</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {
                    color = vehicle.Color }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>
