@using CarManagement.Core.Models.DTOs

@model IEnumerable<CarManagement.Core.Models.DTOs.VehicleDto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Enrollment</th>
        <th>Engine</th>
        <th>Action</th>
        <th>Wheels</th>
        <th>Doors</th>
        <th>Color</th>
    </tr>

    @foreach (VehicleDto vehicle in this.Model)
    {
        <tr>
            <td>
                <ul>
                    <li>
                        @vehicle.Enrollment.Serial - @vehicle.Enrollment.Number
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>@string.Format("HorsePower: {0}", vehicle.Engine.HorsePower)</li>
                    <li> @string.Format("IsStarted: {0}", vehicle.Engine.IsStarted)</li>
                </ul>
            </td>
            <td>
                <ul>

                    <li>
                        @Html.ActionLink("Edit", "Edit", new {
                            serial = vehicle.Enrollment.Serial,
                            number = vehicle.Enrollment.Number
                            /* id=item.PrimaryKey */ })
                    </li>
                    <li>
                        @Html.ActionLink("Delete", "Delete", new { serial = vehicle.Enrollment.Serial, number = vehicle.Enrollment.Number })
                    </li>
                </ul>
            </td>
        </tr>
    }

</table>
