@using CarManagement.Core.Models.DTOs
@using CarManagement.Core.Models;
@model IEnumerable<IEnrollment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Web vehicle manager</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Enrollment</th>
        <th>Actions</th>
    </tr>

    @foreach (IEnrollment enrollment in this.Model)
    {
        <tr>
            <td>@enrollment.Serial - @enrollment.Number.ToString("0000")</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {
                   serial = enrollment.Serial,
                   number = enrollment.Number }) |
                @Html.ActionLink("Details", "Details", new{
                   serial = enrollment.Serial,
                   number = enrollment.Number
                }) |
                @Html.ActionLink("Delete", "Delete", new{
                   serial = enrollment.Serial,
                   number = enrollment.Number
               })
            </td>
        </tr>
    }

</table>
