@using CarManagement.Core.Models.DTOs

@model List<EnrollmentDto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vehiculos: @this.Model.Count</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">

    @foreach (EnrollmentDto enrollmentDto in this.Model)
    {
        <tr>
            <th>Enrollment</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>@enrollmentDto.Serial - @enrollmentDto.Number.ToString("0000")</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {
               serial = enrollmentDto.Serial,
               number = enrollmentDto.Number.ToString("0000")
           }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>