@using CarManagement.Core.Models

@model IEnumerable<IEnrollment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Enrollmets</th>
        <th>Actions</th>
    </tr>

    @foreach (IEnrollment item in Model)
    {
        var enrollment = new
        {
            serial= item.Serial,
            number= item.Number
        };
        <tr>
            <td>
                @Html.ActionLink($"{item.Serial}-{item.Number.ToString("0000")}", "Details", enrollment)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", enrollment) |
                @Html.ActionLink("Details","Details", enrollment) |
                @Html.ActionLink("Delete", "Delete", enrollment)
            </td>
        </tr>
    }

</table>
