﻿@using CarManagement.Core.Models.DTOs
@model IEnumerable<CarManagement.Core.Models.DTOs.EnrollmentDto>

@{
    ViewBag.Title = "Prueba";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Matrículas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Matrícula</th>
        <th>Serial</th>
        <th>Number</th>
        <th>Acciones</th>

    </tr>

    @foreach (EnrollmentDto enrollment in this.Model)
    {
    <tr>
        <td>
            @Html.ActionLink(enrollment.Serial + "-" + enrollment.Number.ToString("0000"), "Details", new {
           serial = enrollment.Serial,
           number = enrollment.Number })
        </td>
        <td>
            @Html.ActionLink(enrollment.Serial, "Details", new {
           serial = enrollment.Serial,})
        </td>
        <td>
            @Html.ActionLink(enrollment.Number.ToString("0000"), "Details", new {
            number = enrollment.Number })
        </td>

        <td>
            @Html.ActionLink("✏️Edit", "Edit", new {
               serial = enrollment.Serial,
               number = enrollment.Number }) |
            @Html.ActionLink("🗑️Delete", "Delete", new{
               serial = enrollment.Serial,
               number = enrollment.Number })
        </td>
    </tr>
}

</table>